<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>/accueil</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Home</servlet-name>
        <jsp-file>/vue/Home.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Article</servlet-name>
        <jsp-file>/vue/Article.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>product</servlet-name>
        <servlet-class>com.samrtsolutions.drive.controler.product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>category</servlet-name>
        <servlet-class>com.samrtsolutions.drive.controler.category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Accueil</servlet-name>
        <servlet-class>com.samrtsolutions.drive.controler.Accueil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Family</servlet-name>
        <jsp-file>/vue/Family.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Retrait</servlet-name>
        <jsp-file>/vue/retraitCommande.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>retraitCommande</servlet-name>
        <servlet-class>com.samrtsolutions.drive.controler.retraitCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>liste</servlet-name>
        <servlet-class>com.samrtsolutions.drive.controler.liste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lstCourse</servlet-name>
        <jsp-file>/vue/ListCourse.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Liste</servlet-name>
        <servlet-class>Liste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListAddWord</servlet-name>
        <servlet-class>com.samrtsolutions.drive.controler.ServletListAddWord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListAddList</servlet-name>
        <servlet-class>com.samrtsolutions.drive.controler.ServletListAddList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherList</servlet-name>
        <servlet-class>com.samrtsolutions.drive.controler.AfficherList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>a</servlet-name>
        <jsp-file>/vue/test.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Article</servlet-name>
        <url-pattern>/article</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>product</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>category</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Accueil</servlet-name>
        <url-pattern>/accueil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Family</servlet-name>
        <url-pattern>/family</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Retrait</servlet-name>
        <url-pattern>/retrait</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>retraitCommande</servlet-name>
        <url-pattern>/retraitCommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>liste</servlet-name>
        <url-pattern>/liste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lstCourse</servlet-name>
        <url-pattern>/listeCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Liste</servlet-name>
        <url-pattern>/Liste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListAddWord</servlet-name>
        <url-pattern>/ServletListAddWord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListAddList</servlet-name>
        <url-pattern>/ServletListAddList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherList</servlet-name>
        <url-pattern>/AfficherList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>a</servlet-name>
        <url-pattern>/a</url-pattern>
        <servlet-name>Choix_Lieu_Horaire</servlet-name>
        <url-pattern>/choix_Lieu_Horaire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAfficherCreneautest</servlet-name>
        <url-pattern>/ServletAfficherCreneau</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
