<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>accueil</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Home</servlet-name>
        <jsp-file>/vue/Home.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Article</servlet-name>
        <jsp-file>/vue/Article.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>product</servlet-name>
        <servlet-class>com.samrtsolutions.drive.controler.product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>category</servlet-name>
        <servlet-class>com.samrtsolutions.drive.controler.category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Accueil</servlet-name>
        <servlet-class>com.samrtsolutions.drive.controler.Accueil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Family</servlet-name>
        <jsp-file>/vue/Family.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ServletBasket</servlet-name>
        <servlet-class>com.samrtsolutions.drive.controler.ServletBasket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Panier</servlet-name>
        <jsp-file>/vue/PagePanier.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PreparerCommande</servlet-name>
        <servlet-class>com.samrtsolutions.drive.controler.PreparerCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Valider</servlet-name>
        <servlet-class>com.samrtsolutions.drive.controler.Valider</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Article</servlet-name>
        <url-pattern>/article</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>product</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>category</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Accueil</servlet-name>
        <url-pattern>/accueil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Family</servlet-name>
        <url-pattern>/family</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBasket</servlet-name>
        <url-pattern>/servletBasket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Panier</servlet-name>
        <url-pattern>/panier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreparerCommande</servlet-name>
        <url-pattern>/preparercommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Valider</servlet-name>
        <url-pattern>/valider</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
